body{
  background-color: #93b8cc;

}
.nav{
  background-color: #131433;
}
.nav-link{
  color: #93b8cc;
}
.nav-link:hover{
  color:  #6c6afc;
  text-decoration: underline;

}
.nav-link-active{
  color: #6c6afc;
  display: inline-block;
  background-color: black;
  border-radius: 3px;
}


label.logo{
  color: #131433;
  margin: 8px;
  background-color: #93b8cc;
  font-weight: bold;
  font-family:sans-serif;
}

.HeadDiv{
  background-color:#142642;
  width: 225px;
  height: 30px;
  color: #a8d1f7;
  padding-bottom: 30px;
  padding-top: 0px;
  margin-top: 20px;
  margin-left: 380px;
  border-radius: 6px;
  font-size: 22px;
  text-align: center;
  font-family: serif;
  font-weight: bolder;
}

.Info{
  font-family:serif;
  font-size: 17px;
  font-weight: bold;
  background-color: #a8d1f7;
  width: 92%;
  padding: 10px;
  margin-left: 37px;
  margin-bottom: 5px;
  border-radius: 10px;

}

.copyright{
  position:relative;
  font-size: 13px;
  color: #2100a3;
 text-align: center;
}
